printer-content/n8n/workflow.json
{
  "name": "Printer Macro Content — Higgsfield Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "printer-content",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: shots payload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "printer-content"
    },
    {
      "parameters": {
        "jsCode": "// Mapa: shot id -> { prompt, duration, genre, resolution }\n// Zsynchronizuj z ../PROMPTY.md gdy zmieniasz prompty.\nconst PROMPTS = {\n  'r1-01': { prompt: 'Slow cinematic dolly-in from 2 meters to 0.5 meters toward an industrial DTF printer on a dark background. Soft rim light from the right. Subtle dust particles drifting in the beam. Camera glides smoothly, no shake. Realistic, hyper-detailed, cinematic depth of field.', duration: 5, genre: 'drama', resolution: '720p' },\n  'r1-02': { prompt: 'Top-down camera tilts down 30 degrees to reveal the inside of an open industrial printer. Internal LED light glows soft blue. Mechanical rails are sharply in focus, the background falls into bokeh. Smooth gimbal-like motion. Photorealistic.', duration: 5, genre: 'drama', resolution: '720p' },\n  'r1-03': { prompt: 'Overhead drone-style camera slowly pushes down toward a printer seen from directly above. The machine sits in a clean studio. Light catches the metal edges. Realistic, sharp focus, no warping of mechanical parts.', duration: 4, genre: 'auto', resolution: '720p' },\n  'r1-04': { prompt: 'Extreme close-up macro of a printer print head. Camera slowly pans 5cm to the right along the row of nozzles, holding the nozzle line in razor-sharp focus. Tiny reflections on metal. Subtle ink residue. No motion of the head itself. Hyper-realistic macro photography style.', duration: 5, genre: 'auto', resolution: '1080p' },\n  'r1-05': { prompt: 'Macro close-up of a printer print head seen from the side. Camera holds still while the print head slowly slides 3cm to the left along its rail. Mechanical wires and cables visible in the background, slightly out of focus. Cool industrial lighting.', duration: 4, genre: 'auto', resolution: '720p' },\n  'r1-06': { prompt: 'Macro shot of a printer print head in motion, moving rapidly back and forth along a metal rail. Camera holds steady. Light motion blur on the head. Sharp focus on the rail and surroundings. Industrial workshop atmosphere.', duration: 4, genre: 'auto', resolution: '720p' },\n  'r1-07': { prompt: 'Extreme macro slow-motion of a single black ink droplet falling and impacting a white surface. The droplet stretches, splashes, then settles. 240fps slow-motion feel. Crystal sharp focus on the droplet. Black void background. Hyper-realistic, food-photography style lighting.', duration: 4, genre: 'drama', resolution: '1080p' },\n  'r1-08': { prompt: 'Slow turntable rotation of an ink bottle on a black reflective surface. Camera holds steady, the bottle rotates 30 degrees. Soft side light creates a long highlight on the bottle curve. Photo-realistic product commercial style.', duration: 4, genre: 'auto', resolution: '720p' },\n  'r1-09': { prompt: 'Cinematic macro slow-motion of black liquid pouring from a bottle into a cartridge. The liquid stream is smooth, glossy, no splashing. Camera holds at eye-level with the stream. Soft rim light catches the surface tension. Crystal sharp.', duration: 5, genre: 'drama', resolution: '1080p' },\n  'r1-10': { prompt: 'Slow camera glide across a printed DTF transfer film, revealing vivid colors and crisp detail. Camera moves left-to-right at 3cm per second, 10cm above the surface. Sharp focus on the print, soft light from above. Product showcase aesthetic.', duration: 5, genre: 'auto', resolution: '720p' },\n  'r1-11': { prompt: 'Steam rising slowly from a heat press while a printed transfer is applied to a t-shirt. Camera holds at a low angle. The steam catches a soft warm backlight. No people in frame. Cinematic industrial atmosphere.', duration: 5, genre: 'drama', resolution: '720p' },\n  'r1-12': { prompt: 'Slow push-in macro across a vibrant printed pattern on textile. Threads visible. Camera moves 2cm forward. Crisp light, color-rich. Final product showcase shot, satisfying reveal.', duration: 4, genre: 'epic', resolution: '720p' }\n};\n\nconst shots = $input.first().json.shots || [];\nreturn shots.map(s => ({\n  json: {\n    shot_id: s.id,\n    image_url: s.image_url,\n    ...(PROMPTS[s.id] || { prompt: 'Slow cinematic camera move, photorealistic, no distortion of mechanical parts.', duration: 4, genre: 'auto', resolution: '720p' })\n  }\n}));"
      },
      "id": "map-prompts",
      "name": "Map shot to prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Per shot (1-by-1)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://platform.higgsfield.ai/api/v1/videos/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"seedance_2_0\",\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"duration\": {{ $json.duration }},\n  \"aspect_ratio\": \"9:16\",\n  \"parameters\": { \"resolution\": \"{{ $json.resolution }}\", \"mode\": \"std\", \"genre\": \"{{ $json.genre }}\" },\n  \"medias\": [{ \"role\": \"start_image\", \"value\": \"{{ $json.image_url }}\" }]\n}",
        "options": {}
      },
      "id": "higgsfield-generate",
      "name": "Higgsfield: generate video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE-WITH-HIGGSFIELD-CRED-ID",
          "name": "Higgsfield API"
        }
      }
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "wait-poll",
      "name": "Wait 20s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://platform.higgsfield.ai/api/v1/jobs/{{ $('Higgsfield: generate video').item.json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "higgsfield-poll",
      "name": "Higgsfield: poll status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE-WITH-HIGGSFIELD-CRED-ID",
          "name": "Higgsfield API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-done",
      "name": "Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.result_url }}",
        "options": { "response": { "response": { "responseFormat": "file" } } }
      },
      "id": "download-clip",
      "name": "Download .mp4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/printer-content/{{ $now.format('yyyy-MM-dd') }}/{{ $('Per shot (1-by-1)').item.json.shot_id }}.mp4",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "supabase-upload",
      "name": "Upload to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE-WITH-SUPABASE-CRED-ID",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "channel": "#content",
        "text": "=Klip gotowy: `{{ $('Per shot (1-by-1)').item.json.shot_id }}.mp4` — pobierz z Supabase i wrzuc do CapCut."
      },
      "id": "slack-notify",
      "name": "Slack: clip ready",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2220, 200],
      "credentials": {
        "slackApi": {
          "id": "REPLACE-WITH-SLACK-CRED-ID",
          "name": "Slack OAuth"
        }
      }
    }
  ],
  "connections": {
    "Webhook: shots payload": {
      "main": [[{ "node": "Map shot to prompt", "type": "main", "index": 0 }]]
    },
    "Map shot to prompt": {
      "main": [[{ "node": "Per shot (1-by-1)", "type": "main", "index": 0 }]]
    },
    "Per shot (1-by-1)": {
      "main": [[{ "node": "Higgsfield: generate video", "type": "main", "index": 0 }]]
    },
    "Higgsfield: generate video": {
      "main": [[{ "node": "Wait 20s", "type": "main", "index": 0 }]]
    },
    "Wait 20s": {
      "main": [[{ "node": "Higgsfield: poll status", "type": "main", "index": 0 }]]
    },
    "Higgsfield: poll status": {
      "main": [[{ "node": "Done?", "type": "main", "index": 0 }]]
    },
    "Done?": {
      "main": [
        [{ "node": "Download .mp4", "type": "main", "index": 0 }],
        [{ "node": "Wait 20s", "type": "main", "index": 0 }]
      ]
    },
    "Download .mp4": {
      "main": [[{ "node": "Upload to Supabase Storage", "type": "main", "index": 0 }]]
    },
    "Upload to Supabase Storage": {
      "main": [[{ "node": "Slack: clip ready", "type": "main", "index": 0 }]]
    },
    "Slack: clip ready": {
      "main": [[{ "node": "Per shot (1-by-1)", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Bierze liste {id, image_url} z webhooka, dla kazdego wola Higgsfield Seedance 2.0 z dopasowanym promptem, czeka na rendering, wrzuca .mp4 do Supabase Storage, pinguje na Slacku. Composing zostaje reczny."
  }
}
